<div id="job-form" class="content">
  {{#em-form model=model submit_button=false}}
      {{em-input property="title" label="Slug" placeholder="Enter a slug for the job..."}}
      {{em-input property="name" label="Full Name" placeholder="Enter your full name..."}}
      {{em-input property="email" label="Email" placeholder="Enter your email address..."}}
      {{em-input property="phone" label="Phone Number" placeholder="Enter your phone number..." type="tel"}}

      {{em-select property="section" label="Section" prompt="Select a Daily section" contentBinding="sections" optionValuePath="content" optionLabelPath="content"}}
      {{em-select property="coverageType" label="Coverage Type" prompt="Pick the kind of coverage" contentBinding="coverageTypes" optionValuePath="content" optionLabelPath="content"}}

      {{em-text property="contact" label="Contact Information for Subject / Event Coordinator" placeholder="Enter the subject's contact information..." rows=2}}

      {{em-input property="publishDate" label="Publish Date" type="date"}}
      {{em-input property="dueDate" label="Due Date" type="date"}}

      {{em-text property="details" label="Details" placeholder="Enter any details..." rows=4}}

      {{em-input property="loc" label="Event Location" placeholder="Enter the event location..."}}
      {{em-input property="date" label="Event Date" placeholder="Enter the event date..." type="date"}}
      {{em-input property="time" label="Event time" placeholder="Enter the event time..." type="time"}}

      {{async-button action="save" default="Add Job" pending="Adding job..." classNames="btn btn-block btn-brown" disabled=isntValid reset=true}}
  {{/em-form}}
</div>
