<div class="content job-list">
  <div style="margin-bottom:10px;">
    <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Current Jobs</h4></span>
    <span class="col-md-2 col-sm-12 col-xs-12 col-padding">
      {{view "select" class="form-control" content=filters optionLabelPath="content.name" optionValuePath="content.state" value=filter}}
    </span>
    <span id="daily-select" class="col-md-4 col-sm-12 col-xs-12 col-padding">
      {{view "select" class="form-control" content=daily_members optionLabelPath="content.name" value=selectedDailyMember prompt="Select a Daily member to assign"}}
    </span>
    <div class="col-md-4 col-sm-12 col-xs-12 col-padding">
      <div style="margin: auto; max-width: 360px;">
        {{#em-modal-toggler modal-id="assign" class="btn btn-info" disabled=isNotAssignable}}<span class="glyphicon glyphicon-envelope"></span>{{/em-modal-toggler}}
        {{#em-modal-toggler modal-id="reject" class="btn btn-danger" disabled=isNotSelectedJobs}}<span class="glyphicon glyphicon-trash"></span>{{/em-modal-toggler}}
        <button {{action "changeState" 0}} {{bind-attr class=":btn :btn-default  isNotSelectedJobs:disabled"}}><span class="glyphicon glyphicon-eject"></span></button>
        <button {{action "changeState" 4}} {{bind-attr class=":btn :btn-warning  isNotSelectedJobs:disabled"}}><span class="glyphicon glyphicon-exclamation-sign"></span></button>
        <button {{action "changeState" 5}} {{bind-attr class=":btn :btn-primary  isNotSelectedJobs:disabled"}}><span class="glyphicon glyphicon-tasks"></span></button>
        <button {{action "changeState" 3}} {{bind-attr class=":btn :btn-success  isNotSelectedJobs:disabled"}}><span class="glyphicon glyphicon-ok"></span></button>
        <button {{action "changeState" 7}} {{bind-attr class=":btn :btn-graphics isNotSelectedJobs:disabled"}}><span class="glyphicon glyphicon-film"></span></button>
        <button {{action "archive"}} {{bind-attr class=":btn :btn-brown hasArchivables::disabled"}}>Archive</button>
      </div>
    </div>
  </div>

  {{jobs-table content=filteredJobs}}

</div>

{{#em-modal-form configName="bs" id="assign" on-submit="mailJobAssign" in-async=async on-show="setupMailAssign"}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">Assign Job</h4>
    {{/em-modal-title}}
    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
          {{partial "mail-assign"}}
        {{/if}}
    {{/em-modal-body}}
    {{#em-modal-footer}}
        <button type="submit" class="btn btn-brown" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}
{{/em-modal-form}}

{{#em-modal-form configName="bs" id="reject" on-submit="mailJobReject" in-async=async on-show="setupMailReject"}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">Reject Job</h4>
    {{/em-modal-title}}
    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
          {{partial "mail-reject"}}
        {{/if}}
    {{/em-modal-body}}
    {{#em-modal-footer}}
        <button type="submit" class="btn btn-brown" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}
{{/em-modal-form}}
