<div class="table-responsive content job-list">
  <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Projects</h4></span>
    <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-8 col-padding">
      <div style="margin: auto; max-width: 100px;">
        <button id="add_projects" class="btn btn-brown" {{action "showNewProject"}}>Add Project</button>
      </div>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Start Date</th>
        <th>Publish Date</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
      <tbody>
        {{#if content}}
        {{#each itemController="collapse"}}
        <tr>
          <td>{{title}}</td>
          <td>{{author}}</td>
          <td>{{startDate}}</td>
          <td>
            {{#if publishDate}}
              {{publishDate}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="href"}}> <span class="glyphicon glyphicon-list"></span> </a>
          </td>
          <td>
            <a {{action "editOldProject" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
          <td>
            <a {{action "deleteProject" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td colspan="10" style="padding: 0; text-align: left">
            <div {{bind-attr id="idTag"}} class="panel-collapse collapse">
              <div class="panel-body">
                {{#if notes}} {{notes}} {{else}} <em>No notes for this project</em> {{/if}}
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
        {{else}}
          <tr><td colspan=10><em>You need some projects!</em></td></tr>
        {{/if}}
      </tbody>
  </table>
</div>

{{#em-modal-emform configName="bs" id="projects" on-submit="createProject" open-if=hasEditProject on-cancel="deleteBlankProject"}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">Add a new project</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
      {{#em-form model=editProject submit_button=false}}
        {{em-input property="title" label="Title" placeholder="Enter project title..."}}
        {{em-input property="author" label="Author" placeholder="Enter author of this job..."}}
        {{em-input property="publishDate" label="Publish Date" type="date"}}
        {{em-input property="startDate" label="Start Date" type="date"}}
        {{em-input property="notes" label="Notes" placeholder="Enter any notes..."}}
      {{/em-form}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" class="btn btn-brown" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}
{{/em-modal-emform}}
