<div id="daily_members" class="table-responsive content">
  <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Members</h4></span>
    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-7 col-padding">
      <div style="margin: auto; max-width: 187px;">
        {{#em-modal-toggler modal-id="mail" class="btn btn-brown" disabled=isSelectedMembers}}<span class="glyphicon glyphicon-envelope"></span>{{/em-modal-toggler}}
        <button class="btn btn-brown" {{action "showNewDailyMember"}}>Add Daily Member</button>
      </div>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{input type="checkbox" checked=selectedAll}}</th>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Phone</th>
        <th># Assigned</th>
        <th>Sports</th>
        <th>On Call Day</th>
        <th>Back Up Day</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
      <tbody>
        {{#if content}}
        {{#each itemController="collapse"}}
        <tr>
          <td>{{input type="checkbox" checked=selected}}</td>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{jobs.length}}</td>
          <td>{{clean-on-empty sports}}</td>
          <td>{{clean-on-empty day}}</td>
          <td>{{clean-on-empty backDay}}</td>
          <td>
            <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="href"}}> <span class="glyphicon glyphicon-list"></span> </a>
          </td>
          <td>
            <a {{action "editOldDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
          <td>
            <a {{action "deleteDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td colspan="12" style="padding: 0; text-align: left">
            <div {{bind-attr id="idTag"}} class="panel-collapse collapse">
              <div class="panel-body">
                {{#if notes}} {{notes}} {{else}} <em>No notes on this member</em> {{/if}}
                <hr>
                <label>Job History</label>
                <div class="table-response" style="width: 400px;">
                  <table class="table" style="background-color: #FDFDFD">
                    <thead>
                    </thead>
                    <tbody>
                    {{#each job in jobs}}
                    <tr>
                      <th>{{job.title}}</th>
                      <th>{{job.section}}</th>
                      <th>{{job.dueDate}}</th>
                    </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
        {{else}}
          <tr><td colspan=12><em>You need some members!</em></td></tr>
        {{/if}}
      </tbody>
  </table>
</div>

{{#em-modal-form configName="bs" id="modalf" on-submit="createDailyMember" in-async=async open-if=hasEditMember close-if=success}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">Add a new daily member</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
          {{#em-form model=editMember submit_button=false}}
            {{em-input property="name" label="Name" placeholder="Enter his / her name..."}}

            {{em-select property="position" label="Position" prompt="Select his / her position on the Daily..." contentBinding="positions" optionValuePath="content" optionLabelPath="content"}}

            {{em-input property="email" label="Email" placeholder="Enter his / her email..."}}
            {{em-input property="phone" label="Phone" placeholder="Enter phone number..."}}

            {{em-select property="sports" label="Sports" prompt="Can this member shoot sports" contentBinding="sportsAnswers" optionValuePath="content" optionLabelPath="content"}}
            {{em-select property="day" label="On Call Day" prompt="Choose the day this member is on call..." contentBinding="days" optionValuePath="content" optionLabelPath="content"}}
            {{em-select property="backDay" label="Back Up On Call Day" prompt="Choose the day this member is on call (backup)..." contentBinding="days" optionValuePath="content" optionLabelPath="content"}}

            {{em-input property="notes" label="Notes" placeholder="Enter any notes..."}}
          {{/em-form}}
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}
{{/em-modal-form}}


{{#em-modal-form configName="bs" id="mail" on-submit="sendMailToMembers" in-async=async on-show="setEmails"}}
    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
        <h4 class="modal-title">Add a new daily member</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
          {{#em-form submit_button=false}}
            {{em-input property="email" label="To:" readonly=true}}
            {{em-input property="subject" label="Subject:" placeholder="Enter a subject line..."}}
            {{em-text property="body" label="Body" placeholder="Enter a body message..." rows=8}}
          {{/em-form}}
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" class="btn btn-brown" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}
{{/em-modal-form}}
