<div class="wrapper">
  <nav class="nav navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tufts-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar tufts-brown"></span>
          <span class="icon-bar tufts-brown"></span>
          <span class="icon-bar tufts-brown"></span>
        </button>
        {{#link-to "index" class="navbar-left navbar-btn"}}
          <img class="logo" src="/assets/logo.png" alt="Tufts Daily Header Image"/>
        {{/link-to}}

      </div>
      <div class="navbar-collapse collapse" id="tufts-nav" style="height: 1px;">
{{#if signedIn}}
    <button {{action "signOut"}} class="btn btn-brown navbar-btn navbar-right">Sign Out</button>
    {{#if isJobs}}
      {{#link-to "settings" class="navbar-link navbar-right"}}<button class="btn btn-brown navbar-btn"><span class="glyphicon glyphicon-user"></span></button>{{/link-to}}
    {{else}}
      {{#link-to "jobs" class="navbar-link navbar-right"}}<button class="btn btn-brown navbar-btn">Jobs</button>{{/link-to}}
    {{/if}}
{{else}}
<form role="form" class="navbar-form navbar-right">
  <div {{bind-attr class=":form-group credErrors:has-error"}}>
      {{view Ember.TextField classNames="form-control" value=username placeholder="Administrator email..." type=email}}
  </div>
  <div {{bind-attr class=":form-group credErrors:has-error"}}>
      {{view Ember.TextField classNames="form-control" value=password placeholder="Administrator password..." type=password}}
  </div>
  <button {{action "signIn"}} class="btn btn-brown">Sign In</button>
</form>
{{/if}}
      </div>
    </div>
  </nav>

    <!-- throw in some notifications for different things -->
    {{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;" showTime=400}}

  <div class="container">
    {{outlet}}
  </div>
</div>

<div class="footer">
  <hr>
  <p class="text-muted credit">Developed and designed by Joshua Pfosi</p>
  <p class="text-muted credit"> Copyright © 2014 Joshua Pfosi </p>
</div>
