<div id="job-form">
  <form role="form">
    <div {{bind-attr class=":form-group errors.title:has-error"}}>
      <label class="control-label" for="title">Title*</label>
      {{view Ember.TextField classNames="form-control" value=title placeholder="Enter a title for the job..."}}
      {{#if errors.title}}
        <span class="help-block">{{errors.title}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.fullName:has-error"}}>
      <label class="control-label" for="fullName">Full Name*</label>
      {{view Ember.TextField classNames="form-control" value=fullName placeholder="Enter your full name..."}}
      {{#if errors.fullName}}
        <span class="help-block">{{errors.fullName}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.email:has-error"}}>
      <label class="control-label" for="email">Email*</label>
      {{view Ember.TextField classNames="form-control" value=email placeholder="Enter your email address..." type="email"}}
      {{#if errors.email}}
        <span class="help-block">{{errors.email}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.phone:has-error"}}>
      <label class="control-label" for="phone">Phone Number*</label>
      {{view Ember.TextField classNames="form-control" value=phone placeholder="### ### ####" type="tel"}}
      {{#if errors.phone}}
        <span class="help-block">{{errors.phone}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.contact:has-error"}}>
      <label class="control-label" for="contact">Contact Information*</label>
      {{view Ember.TextArea classNames="form-control" value=contact placeholder="Enter your contact information..." rows="2"}}
      {{#if errors.contact}}
        <span class="help-block">{{errors.contact}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.section:has-error"}}>
      <label class="control-label" for="section">Section*</label>
      {{view Ember.Select classNames="form-control" content=sections value=section prompt="Select a Daily section"}}
      {{#if errors.section}}
        <span class="help-block">{{errors.section}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.coverageType:has-error"}}>
      <label class="control-label" for="coverageType">Coverage Type*</label>
      {{view Ember.TextField classNames="form-control" value=coverageType placeholder="Enter the kind of coverage..."}}
      {{#if errors.coverageType}}
        <span class="help-block">{{errors.coverageType}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.dueDate:has-error"}}>
      <label class="control-label" for="dueDate">Due Date*</label>
      {{view Ember.TextField classNames="form-control" value=dueDate type="date"}}
      {{#if errors.dueDate}}
        <span class="help-block">{{errors.date}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.dueTime:has-error"}}>
      <label class="control-label" for="dueTime">Due Time*</label>
      {{view Ember.TextField classNames="form-control" value=dueTime type="time"}}
      {{#if errors.dueTime}}
        <span class="help-block">{{errors.dueTime}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.details:has-error"}}>
      <label class="control-label" for="details">Details*</label>
      {{view Ember.TextArea classNames="form-control" value=details placeholder="Enter any details..." rows="4"}}
      {{#if errors.details}}
        <span class="help-block">{{errors.details}}</span>
      {{/if}}
    </div>

    <div class="form-group">
      <label class="control-label" for="location">Event Location</label>
      {{view Ember.TextField classNames="form-control" value=loc placeholder="Enter the event location..."}}
    </div>
    <div class="form-group">
      <label class="control-label" for="date">Event Date</label>
      {{view Ember.TextField classNames="form-control" value=date placeholder="Enter the event date..." type="date"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="time">Event Time</label>
      {{view Ember.TextField classNames="form-control" value=time placeholder="Enter the time of the event..." type="time"}}
    </div>
    <button {{action "save" this}} class="btn btn-primary btn-block">Add Job</button>
  </form>
</div>
