<tr {{bind-attr class="view.color"}}>
  <td>{{input type="checkbox" checked=selected}}</td>
  <td>{{id}}</td>
  <td>
    <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="view.href"}}>{{title}}</a>
  </td>
  <td>{{fullName}}</td>
  <td>{{email}}</td>
  <td>{{phone}}</td>
  <td>{{section}}</td>
  <td>{{coverageType}}</td>
  <td>{{toDate dueDate}}</td>
  <td>{{dueTime}}</td>
  <td>
    <a style="text-decoration:none" {{bind-attr href="view.edit"}}><span class="glyphicon glyphicon-pencil"></span></a>
  </td>
  <td>
    <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="view.href"}}> <span class="glyphicon glyphicon-list"></span> </a>
  </td>
</tr>
<tr>
  <td colspan="12" style="padding: 0; text-align: left">
    <div {{bind-attr id="view.id"}} class="panel-collapse collapse">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Contact Information</dt>
          <dd>{{contact}}</dd>
          <dt>Details</dt>
          <dd>{{details}}</dd>
          {{#if view.eventLoc}}
          <dt>Event Location</dt>
          <dd>{{view.eventLoc}}</dd>
          {{/if}}
          {{#if date}}
          <dt>Date</dt>
          <dd>{{date}}</dd>
          {{/if}}
          {{#if time}}
          <dt>Time</dt>
          <dd>{{time}}<idd>
          {{/if}}
          {{#if daily_member}}
          <br>
          <dt>Assignee</dt>
          <dd>{{daily_member.name}}</dd>
          <dt>Contact Information</dt>
          <dd>{{daily_member.email}} | <em>{{daily_member.phone}}</em></dd>
          {{/if}}
        </dl>

        <em style="padding-left:30px;" class="text-muted">Requested on {{toDate timestamp}}</em>
      </div>
    </div>
  </td>
</tr>
