<div id="jobs" class="content">
  <div style="margin-bottom:10px;">
    <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Current Jobs</h4></span>
    <span class="col-md-2 col-sm-12 col-xs-12 col-padding">
      {{view Ember.Select class="form-control" content=filters optionLabelPath="content.name" optionValuePath="content.state" value=filter}}
    </span>
    <span id="daily-select" class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12 col-padding">
      {{view Ember.Select class="form-control" content=daily_members optionLabelPath="content.name" value=selectedDailyMember prompt="Select a Daily member to assign"}}
    </span>
    <div class="col-md-3 col-sm-12 col-xs-12 col-padding">
      <div style="margin: auto; max-width: 172px;">
        <button {{action "showMailModal" "assign"}} {{bind-attr class=":btn :btn-info isAssignable:disabled"}}><span class="glyphicon glyphicon-envelope"></span></button>
        <button {{action "showMailModal" "reject"}} {{bind-attr class=":btn :btn-danger isSelectedJobs:disabled"}}><span class="glyphicon glyphicon-trash"></span></button>
        <button {{action "markInvestigated"}} {{bind-attr class=":btn :btn-warning isSelectedJobs:disabled"}}><span class="glyphicon glyphicon-eye-open"></span></button>
        <button {{action "markCompleted"}} {{bind-attr class=":btn :btn-success isSelectedJobs:disabled"}}><span class="glyphicon glyphicon-ok"></span></button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        {{#each columns itemController="columnItem"}}
        <th {{action toggleSort value}}>
          {{name}}
          {{#if sortedAsc}}
            <i class="glyphicon glyphicon-chevron-up"></i>
          {{/if}}
          
          {{#if sortedDesc}}
            <i class="glyphicon glyphicon-chevron-down"></i>
          {{/if}}
        </th>
        {{/each}}
        <th>Edit</th>
        <th>Details</th>
      </tr>
    </thead>
      {{collection App.JobsCollection}}
  </table>
  </div>
</div>
