<div id="jobs">
  <span class="pull-left">
    <ul class="list-inline">
      <li><h4 style="margin: 0">Current Jobs</h4></li>
      <li>{{view Ember.Select class="form-control" content=filters optionLabelPath="content.name" optionValuePath="content.state" value=filter}}</li>
      <li><button class="btn btn-success" {{action "showNewDailyMember"}}>Add Daily Member</button></li>
    </ul>
  </span>
  <span class="pull-right">
    <span id="daily-select">
    {{view Ember.Select class="form-control" content=daily_members optionLabelPath="content.name" value=selectedDailyEmail optionValuePath="content.email" prompt="Select a Daily member to assign"}}
    </span>
    <button {{bind-attr class=":btn :btn-info :glyphicon :glyphicon-envelope isMailable:disabled"}}></button>
    <button {{bind-attr class=":btn :btn-warning :glyphicon :glyphicon-pencil isSelectedJobs:disabled"}}></button>
    <button {{action "markRejected"}} {{bind-attr class=":btn :btn-danger :glyphicon :glyphicon-trash isSelectedJobs:disabled"}}></button>
    <button {{action "markCompleted"}} {{bind-attr class=":btn :btn-success :glyphicon :glyphicon-ok isSelectedJobs:disabled"}}></button>
  </span>
  <div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Title</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Section</th>
        <th>Coverage</th>
        <th>Due Date</th>
        <th>Due Time</th>
        <th>Details</th>
      </tr>
    </thead>
      {{collection App.JobsCollection}}
  </table>
  </div>
</div>

{{#bs-modal name="newDailyMember" fade=true footerButtonsBinding="newDailyMemberModalButtons" title="Add a new daily member"}}
  <form role="form">
    <div {{bind-attr class=":form-group errors.name:has-error"}}>
      <label for="name">Name</label>
      {{view Ember.TextField classNames="form-control" value=name placeholder="Enter his / her name..."}}
      {{#if errors.name}}
        <span class="help-block">{{errors.name}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.position:has-error"}}>
      <label for="position">Position</label>
      {{view Ember.TextField classNames="form-control" value=position placeholder="Enter his / her position on the Daily..."}}
      {{#if errors.position}}
        <span class="help-block">{{errors.position}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.email:has-error"}}>
      <label for="email">Email</label>
      {{view Ember.TextField classNames="form-control" value=email placeholder="Enter his / her email..."}}
      {{#if errors.email}}
        <span class="help-block">{{errors.email}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.phone:has-error"}}>
      <label for="phone">Phone</label>
      {{view Ember.TextField classNames="form-control" value=phone placeholder="### ### ####"}}
      {{#if errors.phone}}
        <span class="help-block">{{errors.phone}}</span>
      {{/if}}
    </div>
  </form>
{{/bs-modal}}
