<div id="daily_members" class="table-responsive content">
  <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Settings</h4></span>
    <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-8 col-padding">
      <div style="margin: auto; max-width: 130px;">
        <button class="btn btn-brown" {{action "showNewDailyMember"}}>Add Daily Member</button>
      </div>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Phone</th>
        <th># Assigned</th>
        <th>Sports</th>
        <th>On Call Day</th>
        <th>Back Up Day</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
      <tbody>
        {{#if content}}
        {{#each itemController="collapse"}}
        <tr>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{jobs.length}}</td>
          <td>{{sports}}</td>
          <td>{{day}}</td>
          <td>{{backDay}}</td>
          <td>
            <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="href"}}> <span class="glyphicon glyphicon-list"></span> </a>
          </td>
          <td>
            <a {{action "showNewDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
          <td>
            <a {{action "deleteDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td colspan="11" style="padding: 0; text-align: left">
            <div {{bind-attr id="idTag"}} class="panel-collapse collapse">
              <div class="panel-body">
                {{#if notes}}
                  {{notes}}
                {{else}}
                  <em>No notes on this member</em>
                {{/if}}
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
        {{else}}
          <tr><td colspan=11><em>You need some members!</em></td></tr>
        {{/if}}
      </tbody>
  </table>
</div>

{{#bs-modal name="newDailyMember" fade=true footerButtonsBinding="newDailyMemberModalButtons" title="Add a new daily member"}}
  <form role="form">
    <div {{bind-attr class=":form-group errors.name:has-error"}}>
      <label for="name">Name</label>
      {{view Ember.TextField classNames="form-control" value=name placeholder="Enter his / her name..."}}
      {{#if errors.name}}
        <span class="help-block">{{errors.name}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.position:has-error"}}>
      <label for="position">Position</label>
      {{view Ember.TextField classNames="form-control" value=position placeholder="Enter his / her position on the Daily..."}}
      {{#if errors.position}}
        <span class="help-block">{{errors.position}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.email:has-error"}}>
      <label for="email">Email</label>
      {{view Ember.TextField classNames="form-control" value=email placeholder="Enter his / her email..."}}
      {{#if errors.email}}
        <span class="help-block">{{errors.email}}</span>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group errors.phone:has-error"}}>
      <label for="phone">Phone</label>
      {{view Ember.TextField classNames="form-control" value=phone placeholder="### ### ####"}}
      {{#if errors.phone}}
        <span class="help-block">{{errors.phone}}</span>
      {{/if}}
    </div>
    <div class="form-group">
      <label for="sports">Sports</label>
      {{view Ember.Select classNames="form-control" content=sportsAnswers value=sports prompt="Can this member shoot sports?"}}
    </div>
    <div class="form-group">
      <label for="day">On Call Day</label>
      {{view Ember.Select classNames="form-control" content=days value=day prompt="Choose the day this member is on call"}}
    </div>
    <div class="form-group">
      <label for="backDay">Back Up On Call Day</label>
      {{view Ember.Select classNames="form-control" content=days value=backDay prompt="Choose the day this member is on call"}}
    </div>
    <div {{bind-attr class=":form-group errors.notes:has-error"}}>
      <label for="notes">Notes</label>
      {{view Ember.TextField classNames="form-control" value=notes placeholder="Enter any notes..."}}
      {{#if errors.notes}}
        <span class="help-block">{{errors.notes}}</span>
      {{/if}}
    </div>
  </form>
{{/bs-modal}}
