<div id="daily_members" class="table-responsive content">
  <span class="col-md-2 text-center col-sm-12 col-xs-12 col-padding"><h4 style="margin:0;line-height:34px;">Members</h4></span>
    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-7 col-padding">
      <div style="margin: auto; max-width: 187px;">
        <button {{action "showMailMembersModal"}} {{bind-attr class=":btn :btn-brown isSelectedMembers:disabled"}}><span class="glyphicon glyphicon-envelope"></span></button>
        <button class="btn btn-brown" {{action "showNewDailyMember"}}>Add Daily Member</button>
      </div>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{input type="checkbox" checked=selectedAll}}</th>
        <th>Name*</th>
        <th>Position*</th>
        <th>Email*</th>
        <th>Phone*</th>
        <th># Assigned</th>
        <th>Sports</th>
        <th>On Call Day</th>
        <th>Back Up Day</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
      <tbody>
        {{#if content}}
        {{#each itemController="collapse"}}
        <tr>
          <td>{{input type="checkbox" checked=selected}}</td>
          <td>{{name}}</td>
          <td>{{position}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{jobs.length}}</td>
          <td>{{cleanOnEmpty sports}}</td>
          <td>{{cleanOnEmpty day}}</td>
          <td>{{cleanOnEmpty backDay}}</td>
          <td>
            <a style="text-decoration:none" data-toggle="collapse" data-parent="#accordion" {{bind-attr href="href"}}> <span class="glyphicon glyphicon-list"></span> </a>
          </td>
          <td>
            <a {{action "showNewDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-pencil"></span></a>
          </td>
          <td>
            <a {{action "deleteDailyMember" this}} style="text-decoration:none;"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td colspan="12" style="padding: 0; text-align: left">
            <div {{bind-attr id="idTag"}} class="panel-collapse collapse">
              <div class="panel-body">
                {{#if notes}} {{notes}} {{else}} <em>No notes on this member</em> {{/if}}
                <hr>
                <label>Job History</label>
                <div class="table-response" style="width: 400px;">
                  <table class="table" style="background-color: #FDFDFD">
                    <thead>
                    </thead>
                    <tbody>
                    {{#each job in jobs}}
                    <tr>
                      <th>{{job.title}}</th>
                      <th>{{job.section}}</th>
                      <th>{{job.dueDate}}</th>
                    </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
        {{else}}
          <tr><td colspan=12><em>You need some members!</em></td></tr>
        {{/if}}
      </tbody>
  </table>
</div>

{{#bs-modal name="newDailyMember" fade=true footerButtonsBinding="newDailyMemberModalButtons" title="Add a new daily member"}}
  <form role="form">
    {{form-field-text value=editMember.name error=editMember.errors.name placeholder="Enter his / her name..." label="Name"}}
    {{form-field-select value=editMember.position error=editMember.errors.position content=positions prompt="Select his / her position on the Daily..." label="Position"}}
    {{form-field-text value=editMember.email error=editMember.errors.email placeholder="Enter his / her email..." label="Email"}}
    {{form-field-text value=editMember.phone error=editMember.errors.phone placeholder="### ### ####" label="Phone"}}

    {{form-field-select value=editMember.sports content=sportsAnswers prompt="Can this member shoot sports?" label="Sports"}}
    {{form-field-select value=editMember.day content=days prompt="Choose the day this member is on call" label="On Call Day"}}
    {{form-field-select value=editMember.backDay content=days prompt="Choose the day this member is on call" label="Back Up On Call Day"}}

    {{form-field-text value=editMember.notes error=editMember.errors.notes placeholder="Enter any notes..." label="Notes"}}
  </form>
{{/bs-modal}}
